<!-- tech tags -->
{{ if isset site.Taxonomies "tags" }}
  {{ $techTags := slice }}
  {{ range $name, $items := site.Taxonomies.tags }}
    {{ $hasTechContent := false }}
    {{ range $items }}
      {{ if or (hasPrefix .RelPermalink "/tech/") (in .Page.File.Dir "tech/") }}
        {{ $hasTechContent = true }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $hasTechContent }}
      {{ $techTags = $techTags | append (dict "name" $name "items" $items "page" .Page) }}
    {{ end }}
  {{ end }}

  {{ if gt (len $techTags) 0 }}
    <div class="mb-8">
      <h5 class="mb-6">Tech Tags</h5>
      <div class="bg-light dark:bg-darkmode-light rounded p-6">
        <ul>
          {{ range $techTags }}
            <li class="inline-block">
              <a
                class="hover:bg-primary dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-text-dark {{ if (and (eq $.Page.Kind `term`) (eq $.Page.Type `tags`) (eq $.Page.Title .page.Title)) }}
                  active
                {{ end }} m-1 block rounded bg-white px-3 py-1 hover:text-white"
                href="{{ .page.RelPermalink }}">
                {{ .page.Title }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}