# Hugo
/public/
/resources/_gen/
.hugo_build.lock

# Node
node_modules/
npm-debug.log*

# Go
go.sum

# Build artifacts
.dist
.tmp
builds

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime data
pids
*.pid
*.seed

# IDE
.vscode/
.idea/

# Cache
.sass-cache

