{{- /* Schema.org BreadcrumbList structured data */ -}}
{{- if not .IsHome -}}
{{- $items := slice -}}
{{- $items = $items | append (dict "position" 1 "name" "Home" "item" .Site.BaseURL "isLast" false) -}}
{{- $pos := 2 -}}
{{- if .Parent -}}
  {{- if ne .Parent.Title .Site.Title -}}
    {{- $items = $items | append (dict "position" $pos "name" .Parent.Title "item" .Parent.Permalink "isLast" false) -}}
    {{- $pos = add $pos 1 -}}
  {{- end -}}
{{- end -}}
{{- $items = $items | append (dict "position" $pos "name" .Title "isLast" true) -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- range $i, $item := $items -}}
      {{- if $i }},{{ end }}
    {
      "@type": "ListItem",
      "position": {{ $item.position }}
      {{- if not $item.isLast -}}
      ,
      "name": {{ $item.name | jsonify }},
      "item": {{ $item.item | jsonify }}
      {{- else -}}
      ,
      "name": {{ $item.name | jsonify }}
      {{- end }}
    }
    {{- end }}
  ]
}
</script>
{{- end -}}
