{{- /* Schema.org WebSite structured data */ -}}
{{- if .IsHome -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "name" site.Title
  "url" site.BaseURL
  "description" site.Params.metadata.description
  "inLanguage" "en-US"
  "author" (dict "@type" "Person" "@id" (printf "%s#person" site.BaseURL) "name" site.Params.metadata.author)
  "potentialAction" (dict
    "@type" "SearchAction"
    "target" (dict
      "@type" "EntryPoint"
      "urlTemplate" (printf "%ssearch/?s={search_term_string}" site.BaseURL))
    "query-input" "required name=search_term_string")
-}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
{{- end -}}
