{{- /* Schema.org BreadcrumbList structured data */ -}}
{{- if not .IsHome -}}
{{- /* Build ancestor chain by walking up through .Parent */ -}}
{{- $ancestors := slice -}}
{{- $current := . -}}
{{- range seq 10 -}}
  {{- if $current.Parent -}}
    {{- $ancestors = $ancestors | append $current -}}
    {{- $current = $current.Parent -}}
  {{- end -}}
{{- end -}}
{{- /* Reverse to root-first order and prepend Home */ -}}
{{- $crumbs := slice (dict "name" "Home" "item" site.BaseURL) -}}
{{- range $ancestors | collections.Reverse -}}
  {{- $crumbs = $crumbs | append (dict "name" .Title "item" .Permalink) -}}
{{- end -}}
{{- $items := slice -}}
{{- range $i, $el := $crumbs -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" (add $i 1) "name" $el.name "item" $el.item) -}}
{{- end -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items -}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
{{- end -}}
