@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Heebo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Heebo-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Signika-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Signika-Bold.ttf') format('truetype');
}