{{ define "main" }}
{{ partial "page-header" . }}


<section class="section">
  <div class="container">
    <div class="row gx-5">
      <!-- blog posts -->
      <div class="lg:col-8">
        <div class="row">
          {{ $paginator:= .Paginate .RegularPages }}
          {{ range $index, $page := $paginator.Pages }}
          <div class="md:col-6 mb-14">
            {{/* Apply priority to first 2 cards for LCP optimization */}}
            {{ $isPriority := lt $index 2 }}
            {{ $.Scratch.Set "Priority" $isPriority }}
            {{ partial "components/blog-card" (dict "Page" $page "Params" (merge $page.Params (dict "Priority"
            $isPriority))) }}
          </div>
          {{ end }}
        </div>
        {{ partial "components/pagination.html" . }}
      </div>
      <!-- sidebar -->
      <div class="lg:col-4">
        <!-- widget -->
        {{ $widget:= site.Params.widgets.sidebar }}
        {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}